
body {
    //background-color: green;
}

.container {
    max-width: 960px;
}

// Remove default github link
.sidebar .repo-link, .navbar .repo-link {
    display: none !important;
}

div[class*="language-"] {
    border-radius: 0;
}
