.hero
    text-align center
    img
        max-height 280px
        display block
        margin 3rem auto 1.5rem
    h1
        font-size 3rem
    h1, .description, .action
        margin 1.8rem auto
    .description
        max-width 35rem
        font-size 1.6rem
        line-height 1.3
        color lighten($textColor, 40%)
    .action-button
        display inline-block
        font-size 1.2rem
        color #fff
        background-color $accentColor
        padding 0.8rem 1.6rem
        border-radius 4px
        transition background-color .1s ease
        box-sizing border-box
        border-bottom 1px solid darken($accentColor, 10%)
        &:hover
            background-color lighten($accentColor, 10%)

.users
    text-align center
    max-width 930px
    margin auto

    .user
        width 140px
        height 140px

        display inline-block
        position relative
        overflow hidden
        margin 20px

        a:link
            vertical-align middle
            height 100%
            width 100%
            display block
            left 0
            background-size contain
            background-repeat no-repeat
            background-position center

.btn
    &.btn-default

    &.btn-primary
        background-color $accentColor
        color: #FFF
        padding 10px
        line-height 40px
