<router-outlet></router-outlet>

<h1>Graph Console</h1>
<pre style="border: 2px solid #000; padding: 10px; font-family: 'Courier New'; background-color: #333; color: #FFF;">

Graph response:     {{ movies.loading ? 'Loading...' : ''}}

<div *ngFor="let movie of movies.data?.data">
************************************************************
* {{ movie.title }}
*
* ID:       {{ movie.id }}
* Status:   {{ movie.status }}
* Released: {{ movie.release_date }}
*
* TOP CAST<div *ngFor="let role of movie.roles?.data">*
*   {{ role.character }}
*   Played by: {{ role.actor.name }}
</div>*
************************************************************
</div>
</pre>
